.bg_nav{
    height:40px;
}

.bg_nav .top_nav{
    width:1200px;
    height:40px;
    margin:0 auto;
}

.top_nav .top_navUl{
    width:100%;
    height:100%;
    background:rgba(254,122,36,0.8);
}

.top_nav .top_navUl>li{
    height:40px;
    float:left;
    font-size:14px;
    line-height:40px; 
}

.top_navUl>li>a{
    color:#fff;
}

.top_navUl>li{
    padding:0 24px 0 23px;
    box-sizing:border-box;
    background:rgba(254,122,36,0.8);
}

.top_navUl>li:first-child{
    padding:0 105px 0 14px;  
    background:#ff6a00;
    position:relative;
}

.top_navUl>li:nth-child(2){
    margin-left:20px;
}

.top_navUl>li:hover{
    background:transparent;
}

.top_navUl>li>ol{
    position:absolute;
    left:0;
    top:40px;
    width:210px;
    background:#fff;
    border-bottom:2px solid #ff6a00;
    border-left:1px solid #ff6a00;
    border-right:1px solid #ff6a00;
    z-index:10;
    display:none;
}

.top_navUl>li>ol>li{
    width:180px;
    margin-left:14px;
    margin-right:17px;
    border-bottom:1px solid #e9e9e9;
}

.top_navUl>li>ol>li>p{
    width:100%;
    height:30px;
    font-size:12px;
    color:#ff6a00;
    font-weight:bold;
    text-align:left;
    line-height:30px;
}

.top_navUl>li>ol>li>ul{
    width:210px; 
    margin-bottom:6px;  
}

.top_navUl>li>ol>li>ul>li{
    float:left;
    height:22px;
    font-size:12px;
    line-height:22px;
    margin-right:14px;
}

.top_navUl>li>ol>li>ul:after{
    content:"";
    display:block; 
    clear:both;
    height:0;
    overflow:hidden;
    visibility:hidden;
}

.top_navUl>li>ol>li>ul>li>a{
    display:block;
    width:100%;
    height:22px;
    color:#737373;
}

.top_navUl>li>ol>li>ul>li>a:hover{
    color:#ff6a00;
    text-decoration:underline;
}

.bg_smallnav{
    height:40px;
}

.smallnav{
    width:1200px;
    height:40px;
    margin:0 auto;
    padding:10px 0;
    box-sizing:border-box;
}

.smallnav a{
    color:#737373;
    font-size:14px;
    margin-right:5px;
}

.smallnav span{
    font-size:14px;
    color:#737373;
}

.smallnav span:last-of-type{
    color:#ff6a00;
}

.smallnav a:hover{
    color:#ff6a00;
    text-decoration:underline;
}

.block{
    width:250px;
    height:150px;
    position:fixed;
    left:50%;
    top:0;
    margin-left:-125px;
    z-index:10;
    display:none;
}

.block .tip_msg{
    width:250px;
    height:100px;
    line-height:100px;
    color:#fff;
    font-size:12px;
    text-align:center;
    background:#000;
}

.block .tip_btn{
    width:250px;
    height:50px;
    position:relative;
    background:#000;
}

#confirm{
    width:100px;
    height:30px;
    font-size:12px;
    font-weight:bold;
    border:1px solid skyblue;
    outline:none;
    position:absolute;
    right:20px;
    bottom:10px;
    background:#ebebeb;
}

#cancel{
    width:100px;
    height:30px;
    font-size:12px;
    font-weight:bold;
    border:1px solid skyblue;
    outline:none;
    position:absolute;
    left:20px;
    bottom:10px;
    background:#ebebeb;
}

.bg_detail{
    height:634px;
}

.bg_detail .detail{
    width:1198px;
    height:632px;
    border:1px solid #d9d9d9;
    margin:0 auto;
}

.detail .detail_left{
    float:left;
    width:580px;
    height:632px;
}

.detail_left .smallBox{
    width:430px;
    height:470px;
    margin:30px 0 18px 75px;
    position:relative;
}

.smallBox img{
    width:430px;
    height:470px;
    display:block;
}

.detail_left .smallUl{
    width:580px;
    height:68px;
    padding-left:112px;
    box-sizing:border-box;
}

.smallUl li{
    width:66px;
    height:66px;
    float:left;
    border:1px solid #d9d9d9;
    margin-right:28px;
    background:#fff;
}

.smallUl li img{
    width:64px;
    height:64px;
    display:block;
    margin-left:1px;
    margin-top:1px;
}

.smallUl li:hover{
    background:#fe6600;
    border:1px solid #fe6600;
    transition:1s;
}

.smallBox .shadow{
    width:215px;
    height:235px;
    background:#000;
    opacity:0.4;
    position:absolute;
    display:none;
    left:0;
    top:0;
}


.detail .detail_right{
    float:left;
    width:618px;
    height:632px;
    position:relative;
}

.detail_right .bigBox{
    width:375px;
    height:409px;
    position:absolute;
    left:-75px;
    top:30px;
    z-index:10;
    overflow:hidden;
    display:none;
}

.bigBox img{
    width:750px;
    height:818px;
    display:block;
    position:absolute;
    left:0;
    top:0;
}

.detail_right .addgoods{
    width:560px;
    height:562px;
    margin-left:28px;
    margin-top:26px;
    z-index:1;
}

.addgoods .topic{
    width:100%;
    height:70px;
    border-bottom:1px solid #d9d9d9;
}

.topic p:first-child{
    width:100%;
    height:24px;
    font-size:15px;
    font-weight:bold;
    line-height:24px;
    color:#4d4d4d;
}

.topic p:last-child{
    width:100%;
    height:24px;
    line-height:24px;
    color:#ff6a00;
}

.addgoods .goodsmsg{
    width:560px;
    padding:14px 0 30px 0;
    box-sizing: border-box;
    border-bottom:1px solid #d9d9d9;
}

.goodsmsg .goodsmsgDl{
    width:560px;
    font-size:12px;
    color:#737373;
}

.goodsmsgDl dt{
    width:70px;
    float:left;
    padding-top:10px;
    box-sizing:border-box;
}

.goodsmsgDl dd{
    width:490px;
    float:left;
    padding-top:10px;
    box-sizing:border-box;
}

.goodsmsgDl:last-of-type dd{
    color:#ff6a00;
}

.goodsmsgDl:after{
    content:"";
    display:block;
    clear:both;
    height:0;
    overflow:hidden;
    visibility: hidden;
}

.buyDiv{
    width:560px;
    height:262px;
}

.buyDiv .item{
    width:560px;
    height:85px;
}

.item .itemUl{
    width:100%;
    height:100%;
}

.itemUl li{
    width:145px;
    height:27px;
    float:left;
    margin-right:4px;
    font-size:12px;
    color:#737373;
    line-height:27px;
    text-align:center;
    border:2px solid #d9d9d9;
    margin-top:10px;
    cursor:pointer;
}

.itemUl li:hover{
    border:2px solid #fe6600;
    color:#fe6600;
    transition:1s;
}

.buyDiv .buy{
    width:560px;
    padding-top:23px;
    box-sizing:border-box;
}

.buy .old_price{
    margin-left:16px;
    font-size:14px;
    color:#737373;
    text-decoration: line-through;
    margin-bottom:5px;
}

.buy .new_price{
    margin-left:16px;
    font-size:14px;
    color:#737373;
    margin-bottom:27px;
}

.new_price .price_sapn{
    color:#ff6a00;
    font-size:18px;
    font-weight:bold;
}

.buy .buy_btn{
    width:160px;
    height:42px;
    font-size:18px;
    color:#fff;
    line-height:42px;
    text-align:center;
    background:#ff6a00;
    cursor:pointer;
}

.buy_btn:hover{
    background:#e46a06;
    transition:1s;
}








